.wrapper {
    display: flex;
    justify-content: space-between;
}

.main, .panel {
    border: 1px solid black;
    padding: 15px;
}

.main {
    background-color: #fff;
    width: 100%;
}

.panel {
    background-color: #333;
    color: #fff;
    overflow-y: auto;
    position: sticky;
    z-index: 10;
}

body, .panel {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body::-webkit-scrollbar, .panel::-webkit-scrollbar {
    display: none;
}

.left, .right {
    height: 100vh;
    width: calc(min(20%, 288px));
    top: 0;
}

.bottom, .top {
    height: 10vh;
    width: 100%;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}


body {
    background-color: #ccc;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/*
.main-content {
    position: relative;
    margin-left: calc(min(20%, 360px));
    margin-right: calc(min(20%, 360px));
    overflow: auto;
    height: 100%;
    background-color: #f5f5f5;
    padding-left: calc((100% - 640px) / 2);
    padding-right: calc((100% - 640px) / 2);
}

:root {
    --vh: 1vh;
}

@media screen and (orientation: landscape) {
    :root {
        --vh: calc(1vh + (1vh - (var(--vh) * 100)));
    }
}
*/
