:host,
:root {
  --background-color: var(
    --design-background-color,
    var(--panel-background-color)
  );
  --text-color: var(
    --design-background-text-color,
    var(--panel-on-background-color)
  );
  --surface-color: var(
    --design-surface-color,
    var(--panel-surface-color)
  );
  --surface-text-color: var(
    --design-surface-text-color,
    var(--panel-on-surface-color)
  );
  --bokeh-base-font: 'Lato', sans-serif;
}

.my-no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.my-no-scrollbar::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-face-color: var(--surface-color);
  scrollbar-base-color: var(--surface-color);
  scrollbar-3dlight-color: var(--surface-color);
  scrollbar-highlight-color: var(--surface-color);
  scrollbar-track-color: var(--background-color);
  scrollbar-arrow-color: var(--background-color);
  scrollbar-shadow-color: var(--surface-color);
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background-color: var(--background-color);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--surface-color);
}

body {
  background-color: var(--background-color);
  font-family: var(--bokeh-base-font);
  margin: 0px;
}

#container {
  display: grid;
  /* TODO: Use variable for side panel widths. */
  grid-template-columns: 336px 1fr 336px;
  padding: 0px;
  width: 100vw;
}

#content {
  color: var(--text-color);
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0px;
}

#main {
  /*
  box-sizing: border-box;
  flex: 1 0 0%;
  height: 100%;
  padding: 15px;
  transition: all 0.2s cubic-bezier(0.945, 0.02, 0.27, 0.665);
  */
}

.modal-area {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  height: 100%; width: 100%;
  left: 0; top: 0;
  overflow-y: scroll;
  position: absolute;
  z-index: 100;
}

.modal-content {
  background-color: var(--surface-color);
  border: 1px solid #888;
  color: var(--surface-text-color);
  margin: auto;
  margin-bottom: 25px; margin-top: 25px;
  padding: 15px 20px 20px 20px;
  width: 80% !important;
}

.modal-close {
  position: absolute;
  right: 25px;
  /* z-index: 110; */
}

.modal-close:hover,
.modal-close:focus {
  color: var(--surface-text-color);
  text-decoration: none;
  cursor: pointer;
}

.sticky-panel
{
  overflow-y: auto;
  position: sticky;
}

/* body, */
.sticky-panel {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* body::-webkit-scrollbar, */
.sticky-panel::-webkit-scrollbar {
  display: none;
}

.left-panel, .right-panel {
  background: #e8e8e8; /* TODO: Use theme color. */
  height: 100vh;
  width: 336px; /* TODO: Use variable. */
  top: 0;
  z-index: 11;
}

.left-panel {
  border-right: 1px solid black;
}

.right-panel {
  border-left: 1px solid black;
}

.bottom-panel, .top-panel {
  width: 100%;
  z-index: 10;
}

.bottom-panel {
  border-top: 1px dashed black;
  bottom: 0;
}

.top-panel {
  border-bottom: 1px dashed black;
  top: 0;
}
